In [1]:
import sqlite3
conn = sqlite3.connect('example.db')

In [7]:
import math
print("ln2 : {}".format(math.log(2)))
print("log2 : {}".format(math.log10(2)))
print("log2 : {}".format(math.log(2)/math.log(10)))

ln2 : 0.6931471805599453
log2 : 0.3010299956639812
log2 : 0.30102999566398114

In [27]:
t = 3.5
name = 'test'
page = 1
print('t값 : {0:0.3f} , name : {1}'.format(t,name))
print(f't값 : {t:0.3f} , name : {name:}')
print('t값 : %0.3f , name : %s' %(t,name))

t값 : 3.500 , name : test
t값 : 3.500 , name : test
t값 : 3.500 , name : test

In [31]:
import numpy as np
n= list(range(1,4))
n = np.array(n)
print(f'list : {n} shape : {n.shape}')

list : [1 2 3] shape : (3,)

In [35]:
import pandas as pd
a = pd.DataFrame()
a['id'] = list(range(1,6))
a['msex'] = 'Male'
a['csex'] = 1
a['grade'] = [3,4,5,3,2]
a.to_csv('./grade.csv',sep=',',na_rep='NaN', index=False) # na_rep='NaN'(결측값 표기방식)

In [40]:
import pandas as pd
import glob
file_name = glob.glob('*csv*')

df = pd.read_csv(file_name[0])
df

   id  msex  csex  grade
0   1  Male     1      3
1   2  Male     1      4
2   3  Male     1      5
3   4  Male     1      3
4   5  Male     1      2

In [51]:
df.iloc[:,2:4]

   csex  grade
0     1      3
1     1      4
2     1      5
3     1      3
4     1      2