# Ch01.Python 설치 및 사용법

## 1. 변수선언

In [1]:
tot = 5
name = '이상철'

In [2]:
# 1tot # 변수명 에러
1tot

SyntaxError: invalid syntax (<ipython-input-2-c55dceec1fdb>, line 2)

In [3]:
print(tot)

5

In [4]:
print('tot')

tot

In [5]:
name

'이상철'

## 2. 데이터형

In [6]:
# print를 사용하지 않으면 마지막 변수값만 출력됨
tot1 = 3.5
list1 = [-1, 0, 1]
tuple1 = ('male', 'female')
tot1
list1
tuple1

('male', 'female')

In [7]:
type(tot1)

float

In [8]:
type(tot)

int

In [9]:
type(name)

str

In [10]:
type(list1)

list

In [11]:
type(tuple1)

tuple

## 3. 산술연산자

In [12]:
tot1 =  5
tot2 = 10

tot1 + tot2

15

In [13]:
tot1 - tot2

-5

In [14]:
tot1 * tot2

50

In [15]:
tot1 / tot2

0.5

In [16]:
tot1 ** tot2

9765625

## 4. 데이터 포멧팅

In [17]:
tot1 = 3.5
print('tot1의 타입은' + type(tot1))

TypeError: can only concatenate str (not "type") to str

In [18]:
tot1 = 3.5
name = '이상철'

# 기본 출력
print('tot1의 타입은', type(tot1), ' 입니다.')
print('tot1: ', tot1)

tot1의 타입은 <class 'float'>  입니다.
tot1:  3.5

In [19]:
# 문자열 포멧 이용
print('tot1: %0.2f' % tot1)
print('이름: %s' % name)
print('tot1의 값: %0.2f, 이름: %s' % (tot1,name) )

tot1: 3.50
이름: 이상철
tot1의 값: 3.50, 이름: 이상철

In [20]:
# format 이용
print('tot1의 값: {0}'.format(tot1))
print('tot1의 값: {0:0.5f}, 이름: {1:}'.format(tot1, name))
print(f'tot1의 값: {tot1:0.4f}, 이름: {name}')

tot1의 값: 3.5
tot1의 값: 3.50000, 이름: 이상철
tot1의 값: 3.5000, 이름: 이상철